<div>

    <h1 class="page-header">Dashboard
        <small>Statistics Overview</small>
    </h1>





    <div class="row">

        <div class="col-md-3">


            <div class="panel panel-primary">
                <div class="panel-heading" style="height: 80px;">

                    <div class="panel-title">
                        <span class="glyphicon glyphicon-envelope" style="font-size: 2.5em;float: left;"></span>

                        <div style="text-align: right;color: white;">
                            <!--<a href="#">-->
                            <span style="font-weight: bold;font-size: 28px;">13</span>
                            <br>
                            <span style="font-size: 16px;">New Messages!</span>
                            <!--</a>-->
                        </div>

                    </div>
                </div>

                <div class="panel-body">
                    <a href="#">
                        View Details
                    </a>

                    <a href="#">
                        <span class="glyphicon glyphicon-circle-arrow-right" style="float: right"></span>
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="panel panel-primary" style="border-color: red;">
                <div class="panel-heading"
                     style="background-image: none;background-color: red;border-color: red;color: white;height: 80px;">
                    <span class="glyphicon glyphicon-camera" style="font-size: 2.5em;float: left;"></span>

                    <div style="text-align: right;color: white;">
                        <!--<a href="#">-->
                        <span style="font-weight: bold;font-size: 28px;">127</span>
                        <br>
                        <span style="font-size: 16px;">New Photos</span>
                        <!--</a>-->
                    </div>
                </div>


                <div class="panel-body">
                    <a href="#" style="color: red;">
                        View Details
                    </a>

                    <a href="#" style="color: red;">
                        <span class="glyphicon glyphicon-circle-arrow-right" style="float: right"></span>
                    </a>

                </div>


            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary" style="border-color: #ffc883;color: white">
                <div class="panel-heading"
                     style="background-image: none;background-color: #ffc883;border-color: #ffc883;height: 80px;">
                    <div class="panel-title" style="">

                        <span class="glyphicon glyphicon-calendar" style="float: left;font-size: 2.5em;"></span>

                        <div style="text-align: right">
                            <span style="font-size: 26px;font-weight: bold;">13/8/2017</span>
                            <br>
                            <span style="font-size: 16px;">Today</span>
                        </div>
                    </div>
                </div>

                <div class="panel-body">

                    <a href="#" style="color: #ffc883;">
                        View Details
                    </a>


                    <a href="#" style="color: #ffc883;">
                        <span class="glyphicon glyphicon-circle-arrow-right" style="float: right;"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-primary" style="border-color: #479f57;color: white">
                <div class="panel-heading"
                     style="background-image: none;background-color: #479f57;border-color: #479f57;height: 80px;">
                    <div class="panel-title" style="">

                        <span class="glyphicon glyphicon-calendar" style="float: left;font-size: 2.5em;"></span>

                        <div style="text-align: right">
                            <span style="font-size: 28px;font-weight: bold;">13/8/2017</span>
                            <br>
                            <span style="font-size: 16px;">Today</span>
                        </div>
                    </div>
                </div>

                <div class="panel-body">

                    <a href="#" style="color: #479f57;">
                        View Details
                    </a>


                    <a href="#" style="color: #479f57;">
                        <span class="glyphicon glyphicon-circle-arrow-right" style="float: right;"></span>
                    </a>
                </div>
            </div>
        </div>

    </div>


    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-remove" style="float: right;cursor: pointer;"></span>
                <div class="panel-title">
                    <span class="glyphicon glyphicon-signal" style="padding-right: 5px;"></span>
                    Area Chart
                </div>
            </div>

            <div class="panel-body">

                <h1>
                    The chart come here ... <br> <br>  <br> <br> <br> <br><br><br><br>
                </h1>

            </div>

        </div>
    </div>

</div>